[Unit]
Description=Monerod container
After=docker.service

[Service]
Environment=RPC_PASSWORD=password
Environment=RPC_USER=user
Restart=always
ExecStartPre=-/usr/bin/docker kill monerod
ExecStartPre=-/usr/bin/docker rm monerod
#ExecStartPre=/usr/bin/docker pull primeroz/syncthing
ExecStart=/usr/bin/docker run --rm -v monerod-data:/monero -p 127.0.0.1:18081:18081 -p 18080:18080 --name monerod primeroz/monerod:0.11.0.0
ExecStop=/usr/bin/docker stop monerod

[Install]
WantedBy=multi-user.target

